.route-buttons-container {
  display: flex;
  flex-wrap: wrap; /* 確保按鈕能換行 */
  gap: 1rem; /* 控制按鈕之間的間距 */
  justify-content: space-between; /* 保證按鈕之間均勻分佈 */
}

.route-button {
  @apply text-black rounded-lg; /* 使用 Tailwind 樣式 */
  flex: 1 1 auto;
  min-width: calc(30% - 1rem); /* 限制最大寬度為1/3行寬 */
  text-align: center;
  display: flex;
  align-items: center;
  font-size: 15px;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 20px; /* 圓角按鈕 */
  background-color: transparent; /* 透明背景 */
  border: 2px solid; /* 邊框顏色應根據需要設置 */
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease; /* 增加過渡效果 */
  height: 40px;
  padding: 0.2rem;
}

.route-button.selected-route {
  color: white;
  font-weight: 600;
}

.option-title {
  @apply relative;
  @apply before:content-[''];
  @apply before:w-1.5 before:h-0.5;
  @apply before:bg-primary-500;
  @apply before:inline-block;
  @apply before:absolute before:-left-3.5 before:top-1/2 before:-translate-y-1/2;
}

.situation-button {
  @apply text-primary-500;
  @apply first:rounded-l last:rounded-r;
  @apply border border-primary-500;
  @apply py-0.5;

  &--active {
    @apply bg-primary-500 text-white;
  }
}

.radio-label-container {
  margin-top: 2px; /* 調整這個值讓元素靠近上面 */
}

.radio-label {
  display: inline-block;
  padding: 6px 8px; /* 減少內部填充 */
  margin: 0 5px; /* 減少外部邊距 */
  border: 2px solid transparent;
  border-radius: 10px; /* 減少圓角半徑 */
  font-size: 13px; /* 調整字體大小 */
  cursor: pointer;
  transition: background-color 0.3s ease; /* 可以調整或刪除過渡效果 */
}

.radio-label input {
  display: none;
}

.radio-label.start-active {
  border-color: #468D9B;
  background-color: #468D9B;
  transition: background-color 0.3s ease; /* 可以調整或刪除過渡效果 */
  color: white;
  font-weight: 700;
}

.radio-label.end-active {
  border-color: #D45251;
  background-color: #D45251; /* 淺紅色 */
  transition: background-color 0.3s ease; /* 可以調整或刪除過渡效果 */
  color: white;
  font-weight: 700;
}

.route-buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* 按鈕之間的間距 */
  padding: 0.9rem; /* 與畫面邊界的空隙 */
}


.stations-buttons-container {
  margin-top: 1rem;
}

.stations-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem; /* 按鈕之間的間距 */
  padding: 0.9rem; /* 與畫面邊界的空隙 */
}

.station-button {
  @apply text-black text-xs p-2 rounded-lg;
  flex: 1 1 auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 9999px; /* 圓角 */
  background-color: transparent; /* 透明背景 */
  border: 2px solid; /* 邊框 */
  color: black; /* 文字顏色 */
}

/* 起點站按鈕樣式 */
.station-button.start-selected {
  border-color: #2db6c7!important;
  background-color: #2db6c7!important;
  color: white!important;
  transition: background-color 0.3s ease;
  font-weight: 700!important;
}

/* 終點站按鈕樣式 */
.station-button.end-selected {
  border-color: #2db6c7!important;
  background-color: #2db6c7!important;
  color: white!important;
  transition: background-color 0.3s ease;
  font-weight: 700!important;
}

.station-button.no-need-station {
  border-color: rgba(128, 128, 128, 0.3)!important;
  color: rgba(128, 128, 128, 0.3)!important;
  /* background-color: #D45251!important; */
  transition: background-color 0.3s ease;
}

.middle-station {
  border-color: #2db6c7!important;
  color: black;
  transition: background-color 0.3s ease;
}


.buttons-group {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}



/* 按鈕選取時樣式 */
.radio-label.direction-active {
  border-color: #2db6c7;
  background-color: #2db6c7;
  color: white;
  font-weight: 700;
}

.favorite-route {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.favorite-route button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.favorite-route p {
  @apply flex-grow;
}


.button-group {
  display: flex;
  gap: 1rem;
  align-items: center;
}

/* .add-favorite-button {
  @apply bg-primary-500 p-2 rounded-lg text-white;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  display: block;
}
.set-alarm-button {
  @apply bg-secondary-500 p-2 rounded-lg text-white;
  cursor: pointer;
  border: none;
  flex: 1;
} */


/* Countdown Display */
.countdown-display {
  margin-top: 1rem;
  padding: 0.5rem;
  background-color: #f0f0f0;
  border-radius: 8px;
  text-align: center;
  font-weight: bold;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999; /* 確保彈出視窗位於頂層 */
  }
  
.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}


.popup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: #333; /* 深色字體 */
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.confirm-button {
  @apply bg-primary-500 text-white p-2 rounded-lg;
  width: 48%; /* 調整按鈕寬度 */
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.confirm-button:hover {
  background-color: #1a73e8; /* 更深的 hover 效果 */
}

.cancel-button {
  @apply bg-secondary-500 text-white p-2 rounded-lg;
  width: 48%; /* 調整按鈕寬度 */
  cursor: pointer;
  transition: background-color 0.3s ease;
}
  
.cancel-button:hover {
  background-color: #ff7875; /* hover 時的取消按鈕背景色 */
}


.page-container {
  display: flex;
  flex-direction: column;
  height: 90vh; /* 確保頁面高度充滿整個視窗 */
}

.top-section {
  background-color: white;
  padding: 0rem;
  z-index: 10; /* 確保頂部區塊在其他內容之上 */
}

.content {
  flex: 1; /* 使內容區域自動填充剩餘空間 */
  overflow-y: auto; /* 使內容區域可以垂直滾動 */
  padding-top: 0rem; /* 預留出固定區塊的空間 */
  padding-bottom: 5rem; /* 預留出底部按鈕的空間 */
}


.bottom-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 1rem;
  display: flex;
  justify-content: space-between; /* 讓兩個按鈕並排 */
  z-index: 15;
}

.set-alarm-button {
  @apply bg-yellow-500 text-white; /* 假設「設定鬧鐘」按鈕為綠色 */
}



/* 收藏分頁 */
.py-4 {
  padding-top: 16px; /* 根據需要調整 */
  padding-bottom: 16px; /* 根據需要調整 */
}

.favorites-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px; /* 每個收藏項目之間的間距 */
}

.favorite-route {
  display: flex;
  align-items: center;
  background-color: #fff; /* 背景顏色 */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
}


.color-block {
  width: 5px; /* 可以調整寬度 */
  height: 18px; /* 可以調整高度 */
  background-color: #ff0000; /* 可以調整顏色 */
  margin-left: 8px;
  margin-right: 8px;
  border-radius: 1px; /* 圓角半徑，可根據需要調整 */
}

.favorite-content {
  display: flex;
  align-items: center;
  flex: 1; /* 使內容部分佔滿剩餘的空間 */
}

.favorite-content p {
  margin: 0;
  flex: 1; /* 使文字部分佔滿剩餘的空間 */
}


.favorite-route button {
  padding: 4px; /* 調整按鈕的內邊距 */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-favorite-button {
  background-color: #ff4d4f; /* 刪除按鈕的背景顏色 */
  color: white;
  width: 32px; /* 按鈕寬度 */
  height: 32px; /* 按鈕高度 */
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px; /* 右邊距 */
}

.delete-favorite-button img {
  width: 16px; /* 圖示的寬度 */
  height: 16px; /* 圖示的高度 */
}

.delete-favorite-button:hover {
  background-color: #ff7875; /* Hover 時的背景顏色 */
}

.set-timer-button {
  background-color: #2db6c7;
  color: white;
  width: 32px; /* 按鈕寬度 */
  height: 32px; /* 按鈕高度 */
  display: flex;
  align-items: center;
  justify-content: center;
}

.set-timer-button:hover {
  background-color: #137986; /* Hover 時的背景顏色 */
}
